@using Microsoft.AspNetCore.Identity
@using AMS.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
            <ul class="navbar-nav px-3">
                <li class="nav-item">
                    <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage" class="nav-link">Hello @UserManager.GetUserName(User)!</a>
                </li>
            </ul>
}
