﻿@{
    ViewData["Title"] = "Import Staff Account";
}

<h2>@ViewData["Title"]</h2>
<h4>Import Staff Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <button type="submit" class="btn btn-default">Import</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
