﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    Layout = null;
    ViewData["Title"] = "Log in";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AMS</title>

    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap4/css/bootstrap.min.css" rel="stylesheet">
    <script src="~/lib/feather.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="~/css/signin.css" rel="stylesheet">

</head>

    <body class="text-center">
        <form asp-route-returnurl="@ViewData[" ReturnUrl"]" method="post" class="form-signin">
            <img class="mb-4" src="../images/logo.png" alt="" width="100" height="100">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Log in</button>
            </div>
            <div class="form-group">
                @*<p>
                    <a asp-action="ForgotPassword">Forgot your password?</a>
                </p>*@
                <p>
                    @*<a asp-action="Register" asp-route-returnurl="@ViewData[" ReturnUrl"]">Register as a new user?</a>*@
                </p>
            </div>
            <p class="mt-5 mb-3 text-muted">&copy; 2018 - AMS</p>
        </form>
    </body>
</html>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
