﻿@model StaffAbsenceListViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Leave Management</h2>
<hr>
<form asp-action="Index">
    <div class="row">
        <div class="col-lg-4">
            <address>
                <strong>Department:</strong><br>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group">
                               @Html.DropDownListFor(model => model.selectedDept, new SelectList(Model.deptList), new { @class = "form-control" })
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Get</button>
                            </span>
                        </div>

                    </div>
                </div>
            </address>
        </div>
        <div class="col-lg-8">
            <address>
                <strong>Time Record:</strong><br>
                <div class="row">
                    <div class="col-lg-12">

                        <div class="input-group">
                            @Html.DropDownListFor(model => model.selectedAbsenceStatus, new SelectList(Model.absenceStatusList), new { @class = "form-control" })
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Get</button>
                            </span>
                        </div>

                    </div>
                </div>
            </address>
        </div>
    </div>
</form>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Staff Name
                </th>
                <th>
                    Staff Title
                </th>
                <th>
                    Leave Start Day
                </th>
                <th>
                    Leave End Day
                </th>
                <th>
                    Leave Type
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.staffAbsenceList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.staffName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.staffTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.leaveStartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.leaveEndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.leaveType)
                    </td>
                    <td>
                        <a asp-action="Update" asp-route-id="@item.id"><span data-feather="edit"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
