﻿@model UpdateStaffAbsenceRecordViewModel

@{
    ViewData["Title"] = "Update";
}

<h2>Absence Record</h2>
<hr>
<div class="row">
    <div class="col-lg-3">
        <address>
            <strong>Division/Department:</strong><br>
            @Html.DisplayFor(model => model.division) / @Html.DisplayFor(model => model.department)
        </address>
    </div>
    <div class="col-lg-3">
        <address>
            <strong>Staff:</strong><br>
            @Html.DisplayFor(model => model.staffName)
        </address>
    </div>
    <div class="col-lg-3">
        <address>
            <strong>Staff Title:</strong><br>
            @Html.DisplayFor(model => model.staffTitle)
        </address>
    </div>
    <div class="col-lg-3">
    </div>
</div>
<hr>
<h3>Record Details</h3>
<form asp-action="Update" class="form-horizontal">
    <input type="hidden" asp-for="id" />
    <div class="form-group">
        <label for="leaveType" class="col-sm-2 control-label">Leave Type</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="leaveType" readonly>
        </div>
    </div>
    <div class="form-group">
        <label for="leaveStartDate" class="col-sm-2 control-label">Start Date</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="leaveStartDate" readonly>
        </div>
    </div>
    <div class="form-group">
        <label for="leaveEndDate" class="col-sm-2 control-label">End Date</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="leaveEndDate" readonly>
        </div>
    </div>
    <div class="form-group">
        <label for="remark" class="col-sm-2 control-label">Remark</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="remark" readonly>
        </div>
    </div>
    @if (Model.status == "Created")
    {
    <div class="form-group">
        <label for="remark" class="col-sm-2 control-label">Action</label>
        <div class="col-sm-10">
            @Html.DropDownListFor(model => model.selectedAction, new SelectList(Model.actionList), new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label for="remark" class="col-sm-2 control-label">Manger Remark</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="managerRemark">
        </div>
    </div>
    }
    else
    {
    <div class="form-group">
        <label for="remark" class="col-sm-2 control-label">Action</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="selectedAction" readonly>
        </div>
    </div>
    <div class="form-group">
        <label for="remark" class="col-sm-2 control-label">Manger Remark</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="managerRemark" readonly>
        </div>
    </div>

    }
    @if (!string.IsNullOrEmpty(Model.image))
    {
        <div class="form-group">
            <label for="remark" class="col-sm-2 control-label">Supporting Document</label>
            <div class="col-sm-10">
                <a target="_blank" href="@Html.DisplayFor(model => model.image)">Open</a>
            </div>
        </div>
    }

    @if (Model.status == "Created")
    {
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    }
</form>
