﻿@model StaffAccountListViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Staff Management</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<hr>
<form asp-action="Index">
    <div class="row">
        <div class="col-lg-6">
            <address>
                <strong>Department:</strong><br>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group">
                            @Html.DropDownListFor(model => model.selectedDept, new SelectList(Model.deptList), new { @class = "form-control" })
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Get</button>
                            </span>
                        </div>

                    </div>
                </div>
            </address>
        </div>
        <div class="col-lg-6">
            <address>
                <strong>Account Status:</strong><br>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group">
                            @Html.DropDownListFor(model => model.selectedStatus, new SelectList(Model.statusList), new { @class = "form-control" })
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Get</button>
                            </span>
                        </div>
                    </div>
                </div>
            </address>
        </div>
    </div>
</form>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Staff Name
                </th>
                <th>
                    Staff Title
                </th>
                <th>
                    Staff Type
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.staffAttendanceList)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.staffName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.staffTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.staffType)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.id"><span data-feather="edit"></span></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
