﻿@model AMS.Models.StaffAccountItemViewModel

@{
    ViewData["Title"] = "Update account";
}


<h2>Update account</h2>
<hr />
<div class="row">
    <p class="text-danger">
        @ViewBag.ErrorMsg
    </p>
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" readonly/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Staff Type</label>
                @Html.DropDownListFor(model => Model.selectedStaffType, new SelectList(Model.staffTypeList), new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="control-label">Department</label>
                @Html.DropDownListFor(model => Model.selectedDept, new SelectList(Model.deptList), new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EffectiveStart" class="control-label"></label>
                <input asp-for="EffectiveStart" class="form-control" placeholder="dd-MM-yy" />
                <span asp-validation-for="EffectiveStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EffecticeEnd" class="control-label"></label>
                <input asp-for="EffecticeEnd" class="form-control" placeholder="dd-MM-yy" />
                <span asp-validation-for="EffecticeEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phoneNumber" class="control-label"></label>
                <input asp-for="phoneNumber" class="form-control" placeholder="23456789" />
                <span asp-validation-for="phoneNumber" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="IsManager" class="control-label"></label>
                <input asp-for="IsManager" class="form-control" />
                <span asp-validation-for="IsManager" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsHRStaff" class="control-label"></label>
                <input asp-for="IsHRStaff" class="form-control" />
                <span asp-validation-for="IsHRStaff" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsAdmin" class="control-label"></label>
                <input asp-for="IsAdmin" class="form-control" />
                <span asp-validation-for="IsAdmin" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
