﻿@model StaffAttendanceListViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Attendance Management</h2>

<hr>
<form asp-action="Index">
    <div class="row">
        <div class="col-lg-4">
            <address>
                <strong>Department:</strong><br>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group">
                               @Html.DropDownListFor(model => model.selectedDept, new SelectList(Model.deptList), new { @class = "form-control" })
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Get</button>
                            </span>
                        </div>

                    </div>
                </div>
            </address>
        </div>
        <div class="col-lg-8">
            <address>
                <strong>Time Record:</strong><br>
                <div class="row">
                    <div class="col-lg-12">

                            <div class="input-group">
                                @Html.DropDownListFor(model => model.selectedDate, new SelectList(Model.dateList), new { @class = "form-control" })
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Get</button>
                                </span>
                            </div>
                    </div>
                </div>
            </address>
        </div>
    </div>
</form>
  
    <hr>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Staff Name
                </th>
                <th>
                    Staff Title
                </th>
                <th>
                    Duty Time
                </th>
                <th>
                    Off Time
                </th>
                <th>
                    Status
                </th>
                <th>
                    Is Late
                </th>
                <th>
                    Absence Type
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.staffAttendanceList)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StaffName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StaffTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TodayWorkTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TodayLeaveTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TodayStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsLate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AbsenceType)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.id" asp-route-date="@Model.selectedDate"><span data-feather="edit"></span></a>
                </td>
            </tr>
            }
        </tbody>
    </table>


