﻿@model UpdateStaffAttendanceRecordViewModel

@{
    ViewData["Title"] = "Update";
}

<h2>Update Attendance</h2>

<hr>

<div class="row">
    <div class="col-lg-3">
        <address>
            <strong>Division/Department:</strong><br>
            @Html.DisplayFor(model => model.division) / @Html.DisplayFor(model => model.department)
        </address>
    </div>
    <div class="col-lg-3">
        <address>
            <strong>Staff:</strong><br>
            @Html.DisplayFor(model => model.staffName)
        </address>
    </div>
    <div class="col-lg-3">
        <address>
            <strong>Staff Title:</strong><br>
            @Html.DisplayFor(model => model.staffTitle)
        </address>
    </div>
    <div class="col-lg-3">
        <address>
            <strong>Time Record:</strong><br>
            <div class="input-group">
                @Html.DisplayFor(model => model.selectedDate)
            </div>
        </address>
    </div>
</div>

<hr>
<h3>Update Time Record</h3>


<form asp-action="Update">
    <input type="hidden" asp-for="id" />
    <div class="form-group">
        <label for="exampleInputEmail1">Date:</label>
         <input asp-for="selectedDate" class="form-control" readonly/>
    </div>
    <div class="form-group">
        <label for="exampleInputName2">Duty Time: </label>
        <div class="row">
            <div class="col-xs-3 col-sm-2">
                @Html.DropDownListFor(model => model.dutyHour, new SelectList(Model.hourList), new { @class = "form-control" })
            </div>
            <div class="col-xs-1 col-sm-1">
                :
            </div>
            <div class="col-xs-3 col-sm-2">
                @Html.DropDownListFor(model => model.dutyMin, new SelectList(Model.minList), new { @class = "form-control" })
            </div>
            <div class="col-xs-5 col-sm-7"> </div>
        </div>
    </div>

    <div class="form-group">
        <label for="exampleInputName2">Off Time: </label>
        <div class="row">
            <div class="col-xs-3 col-sm-2">
                @Html.DropDownListFor(model => model.offHour, new SelectList(Model.hourList), new { @class = "form-control" })
            </div>
            <div class="col-xs-1 col-sm-1">
                :
            </div>
            <div class="col-xs-3 col-sm-2">
                @Html.DropDownListFor(model => model.offMin, new SelectList(Model.minList), new { @class = "form-control" })
            </div>
            <div class="col-xs-5 col-sm-7"> </div>
        </div>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>


<hr>
<h3>Time Track</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Date Time
            </th>
            <th>
                Location
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.attendanceRecordViewModels)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RecordTimeStamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
            </tr>
        }
    </tbody>
</table>
