﻿@model ReportViewModel

@{
    ViewData["Title"] = "Index";
}

@if (Model.IsMonthly)
{
    <form asp-action="GetMonthly" class="form-horizontal">
    <h3>Monthly Report</h3>
    <hr>
    <div class="row">
        <div class="col-lg-3">
            <address>
                <strong>Division/Department:</strong><br>
                @Html.DisplayFor(model => model.division) / @Html.DisplayFor(model => model.department)
            </address>
        </div>
    </div>
    <div class="row">
    <div class="col-lg-3">
        <address>
            <strong>Year</strong><br>
            <div class="input-group">
                @Html.DropDownListFor(model => model.selectedYear, new SelectList(Model.YearList), new { @class = "form-control" })
            </div>
        </address>
    </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <address>
                <strong>Month</strong><br>
                <div class="input-group">
                    @Html.DropDownListFor(model => model.selectedMonth, new SelectList(Model.MonthList), new { @class = "form-control" })
                </div>
            </address>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <address>
                <strong>Download</strong><br>
                <div class="input-group">
                    @*<a asp-action="GetMonthly" asp-route-selectedMonth="@Model.selectedMonth" asp-route-selectedYear="@Model.selectedYear"  class="btn btn-primary active" role="button" aria-pressed="true">Download</a>*@
                    <button type="submit" class="btn btn-default">Download</button>
                </div>
            </address>
        </div>
    </div>
    </form>
}

@if (Model.IsYearly)
{
    <form asp-action="GetYearly" class="form-horizontal">
<h3>Yearly Report</h3>
<hr>
<div class="row">
    <div class="col-lg-3">
        <address>
            <strong>Year</strong><br>
            <div class="input-group">
                @Html.DropDownListFor(model => model.selectedYear, new SelectList(Model.YearList), new { @class = "form-control" })
            </div>
        </address>
    </div>
</div>
    <div class="row">
    <div class="col-lg-3">
        <address>
            <strong>Download</strong><br>
            <div class="input-group">
                @*<a asp-action="GetYearly" asp-route-selectedYear="@Model.selectedYear" class="btn btn-primary active" role="button" aria-pressed="true">Download</a>*@
                <button type="submit" class="btn btn-default">Download</button>
            </div>
        </address>
    </div>
</div>
        </form>
}

@if (Model.IsUrgentList)
{
        <form asp-action="GetStaffListUrgentUse" class="form-horizontal">
<h3>Other Report</h3>
<hr>

<h5>Staff List (Urgent use)</h5>
<hr>
<div class="row">
    <div class="col-lg-3">
        <address>
            <strong>Download</strong><br>
            <div class="input-group">
                @*<a asp-action="GetStaffListUrgentUse" class="btn btn-primary active" role="button" aria-pressed="true">Download</a>*@
                <button type="submit" class="btn btn-default">Download</button>
            </div>
        </address>
    </div>
</div>
            </form>

}