﻿@using Microsoft.AspNetCore.Identity
@using AMS.Models
@model StaffAttendanceListViewModel


@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}
@if (SignInManager.IsSignedIn(User))
{

<h2>Home</h2>

<hr>
    
    <table class="table">
        <thead>
            <tr>
                <th>
                    Staff Name
                </th>
                <th>
                    Staff Title
                </th>
                <th>
                    Duty Time
                </th>
                <th>
                    Off Time
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.staffAttendanceList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StaffName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StaffTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TodayWorkTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TodayLeaveTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WarningStatus)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (!SignInManager.IsSignedIn(User))
{
    <h1> Welcome to Attendance Management System</h1>

    <h4>Please login for access the system first</h4>
}