@model IEnumerable<AMS.Models.HotspotLocation>

@{
    ViewData["Title"] = "Hotspot Management";
}

<h2>Hotspot Management</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LocationCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocationDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.iBeaconLocationMajor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.iBeaconLocationMinor)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.iBeaconLocationMajor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.iBeaconLocationMinor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
